.App {
  text-align: center;
}

.team_cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.memberCard{
  width: 180px;
  border: 1px solid black;
  margin-top: 10px;
}

.team_form{
  width: 180px;
  height: 190px;
  text-align: center;
  margin: 0 auto;
  border: 2px solid blue;
  border-radius: 5%;
  padding-top: 20px;
}
